name: Tip Generator
on:
  # Allows you to run this workflow manually from the Actions tab on demand
  workflow_dispatch:

jobs:
  generate-tip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies # This step only runs if requirements.txt dependencies change
        run: |
          pip install -r requirements.txt
      - name: Run tip generator
        env:
          PROMPT: ${{ env.PROMPT }}
          FACEBOOK_EMAIL: ${{ secrets.FACEBOOK_EMAIL }}
          FACEBOOK_PASSWORD: ${{ secrets.FACEBOOK_PASSWORD }}
        run: |
          python script.py --prompt "$PROMPT" --facebook_email "$FACEBOOK_EMAIL" --facebook_password "$FACEBOOK_PASSWORD"
      - name: Commit changes
        env:
          HUB_PAT: ${{ secrets.HUB_PAT }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add tips.csv upcoming_tips.html
          git commit -m "Update tips.csv and upcoming_tips.html"
          git push https://$HUB_PAT@github.com/metaai-dailytips-socials.git
